- # coding: utf-8
%tr
  %th #{data[:title]}
  %td
    - data[:options].each do |option|
      %label.acms-admin-form-checkbox{ for: "input-#{data[:name]}-#{option[:value]}" }
        <input type="checkbox" name="#{data[:name]}[]" value="#{option[:value]}" id="input-#{data[:name]}-#{option[:value]}" {#{data[:name]}:checked##{option[:value]}} />
        %i.acms-admin-ico-checkbox
        #{option[:value]}
    %input{ type: "hidden", name: "field[]", value: "#{data[:name]}" }

